<div class="hb-app" id="smartcard_viewer_searchbar">
	<div class="ui small form">
		<div class="inline fields">
			<div class="field">
				<label>Procedure Category: </label>
				<select ng-model="pxCategory" ng-options="category.name for category in procedureCategories | orderBy:'name'"></select>
			</div>
			<div class="field">
				<label>Surgeon: </label>
				<select ng-model="pxSurgeon" ng-options="fullName(surgeon) for surgeon in surgeons | orderBy:['lastName','firstName','middleInitial']"></select>
			</div>
			<div class="field">
				<label>Procedure:</label>
				<select ng-model="pxCriteria" ng-options="procedure.name for procedure in procedures | orderBy:'name'"></select>
			</div>
			<div class="field">
				<button ng-click="clearSearch()">Clear</button>
			</div>
		</div>
	</div>
</div>
<div class="hb-app" right-gutter id="smartcard_viewer" >
	<div class="ui items">
		<div class="item smartcard" ng-click="showInfo(smartcard)" ng-repeat="smartcard in smartcards | smartCardFilter:pxCriteria:pxCategory:pxSurgeon">
			<div class="content">
				<div class="name">{{title(smartcard)}}</div>
				<p class="description">{{fullName(smartcard.surgeon)}}</p>
			</div>
			<div class="extra">{{smartcard.category}}<div style="float: right; margin-right: 2px;"><i title="Clone" class="copy icon"></i><i title="Edit" class="edit icon"></i><i title="Delete" class="trash icon"></i></div></div>
		</div>
	</div>
</div>
<div info-window class="hb-app" id="smartcard_info_window">
	<dl>
		<dt>PROCEDURE</dt>
		<dd>{{selectedSmartcard.procedure}}</dd>
		<dt>CATEGORY</dt>
		<dd>{{selectedSmartcard.category}}</dd>
		<dt>SURGEON</dt>
		<dd>{{fullName(selectedSmartcard.surgeon)}}</dd>
	</dl>
</div>
<div class="12 ui small icon buttons" id="smartcard_tray">
	<div class="ui button" title="New Surgeon">
		<i class="plus icon"></i>
	</div>
	<div class="ui button">
		<i class="tags icon"></i>
	</div>
	<div class="ui button">
		<i class="tasks icon"></i>
	</div>
	<div class="ui button">
		<i class="terminal icon"></i>
	</div>
	<div class="ui button">
		<i class="text file icon"></i>
	</div>
	<div class="ui button">
		<i class="text file outline icon"></i>
	</div>
	<div class="ui button">
		<i class="time icon"></i>
	</div>
	<div class="ui button">
		<i class="trash icon"></i>
	</div>
	<div class="ui button">
		<i class="url icon"></i>
	</div>
	<div class="ui button">
		<i class="users icon" title="Surgeons"></i>
	</div>
	<div class="ui button">
		<i class="users icon"></i>
	</div>
	<div class="ui button">
		<i class="video icon"></i>
	</div>
</div>