/* Halobyte ========================================================================== */
html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	overflow: hidden;
}

body {
	background: rgba(58, 133, 199, 1);
	background: -moz-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58, 133, 199, 1)), color-stop(26%, rgba(25, 53, 82, 1)), color-stop(73%, rgba(25, 53, 82, 1)), color-stop(100%, rgba(50, 114, 179, 1)));
	background: -webkit-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: -o-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: -ms-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: linear-gradient(to bottom, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a85c7', endColorstr='#3272b3', GradientType=0);
}

DIV.hb-app {
	position: absolute;
	padding: 10px;
	background-color: #FFFFFF;
	overflow: auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3125em;
	-webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
	-moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#smartcard_viewer {
	top: 98px;
	left: 8px;
	bottom: 60px;
	right: 8px;
}

#smartcard_tray {
	position: absolute;
	bottom: 20px;
	left: 8px;
}

#smartcard_info_window {
	display: none;
	width: 390px;
	right: 18px;
	top: 108px;
	bottom: 72px;
	z-index: 10;
	background: rgba(250, 246, 203, 1);
	background: -moz-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250, 246, 203, 1)), color-stop(100%, rgba(250, 238, 177, 1)));
	background: -webkit-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: -o-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: -ms-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: linear-gradient(to bottom, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf6cb', endColorstr='#faeeb1', GradientType=0);
	background: rgba(250, 246, 203, 1);
}

#smartcard_viewer_searchbar {
	top: 50px;
	left: 8px;
	right: 8px;
	height: 45px;
	padding-right: 400px;
	overflow: hidden;
	background: rgba(204, 204, 204, 1);
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(68%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.ui.form input[type="text"] {
	margin: 0em;
	padding: 0.3em 1em;
	font-size: 1em;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.375);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3125em;
	-webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
	-moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.ui.form input[type="text"]:focus {
	color: rgba(0, 0, 0, 0.85);
	border-color: rgba(0, 0, 0, 0.375);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: 0.5em 0em 0em 0em rgba(24, 73, 199, 0.9) inset;
	box-shadow: 0.5em 0em 0em 0em rgba(24, 73, 199, 0.9) inset;
}

.ui.input.focus input,.ui.input input:focus {
	border-color: rgba(0, 0, 0, 0.375);
	color: rgba(0, 0, 0, 0.85);
}

.ui.input.focus input input::-webkit-input-placeholder,.ui.input input:focus input::-webkit-input-placeholder {
	color: #AAAAAA;
}

.ui.input.focus input input::-moz-placeholder,.ui.input input:focus input::-moz-placeholder {
	color: #AAAAAA;
}

.ui.form .field>label {
	color: #333333;
	font-size: 1em;
	font-weight: bold;
}

.ui.items>.item,.ui.items>.row>.item {
	min-height: 110px;
	min-width: 170px;
	width: 280px;
	height: 170px;
	font-size: 0.85em;
}