/* Halobyte ========================================================================== */
html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	overflow: hidden;
}

body {
	background: rgba(58, 133, 199, 1);
	background: -moz-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58, 133, 199, 1)), color-stop(26%, rgba(25, 53, 82, 1)), color-stop(73%, rgba(25, 53, 82, 1)), color-stop(100%, rgba(50, 114, 179, 1)));
	background: -webkit-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: -o-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: -ms-linear-gradient(top, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	background: linear-gradient(to bottom, rgba(58, 133, 199, 1) 0%, rgba(25, 53, 82, 1) 26%, rgba(25, 53, 82, 1) 73%, rgba(50, 114, 179, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a85c7', endColorstr='#3272b3', GradientType=0);
}

table {
	padding: 0px;
	bord
}

DIV.hb-app {
	position: absolute;
	padding: 10px;
	background-color: #FFFFFF;
	overflow: auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3125em;
	-webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
	-moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

DIV.hb-view {
	position: absolute;
	background-color: #FFFFFF;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3125em;
	-webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
	-moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

DIV.hb-view { 
	background-colr: #ffffff;
}


#smartcard_viewer {
	top: 98px;
	left: 8px;
	bottom: 60px;
	right: 8px;
	
}

#surgeon_viewer {
	top: 8px;
	left: 8px;
	bottom: 60px;
	right: 8px;
}

#smartcard_tray {
	position: absolute;
	bottom: 20px;
	left: 8px;
}

#smartcard_info_window {
	display: none;
	width: 290px;
	right: 28px;
	top: 108px;
	bottom: 72px;
	z-index: 10;
	background: rgba(250, 246, 203, 1);
	background: -moz-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250, 246, 203, 1)), color-stop(100%, rgba(250, 238, 177, 1)));
	background: -webkit-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: -o-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: -ms-linear-gradient(top, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	background: linear-gradient(to bottom, rgba(250, 246, 203, 1) 0%, rgba(250, 238, 177, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf6cb', endColorstr='#faeeb1', GradientType=0);
	background: rgba(250, 246, 203, 1);
}

#smartcard_viewer_searchbar {
	top: 50px;
	left: 8px;
	right: 8px;
	height: 45px;
	overflow: hidden;
	background: rgba(204, 204, 204, 1);
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(68%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.hb-pull-left {
	clear: both;
	float: left !important;
}

.hb-pull-right {
	clear: both;
	float: right !important;
}

.hb-toolbar {
	top: 50px;
	left: 8px;
	right: 8px;
	height: 45px;
}

.hb-form-button-bar {
	padding: 8px;
	overflow: hidden;
	background: rgba(204, 204, 204, 1);
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(68%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.hb.form.panel {
	height:100%;
	width:100%;
	overflow:auto !important;
}

.hb.form.panel > div {
	padding: 8px 30px;
}

.hb.form.panel > table {
	border: 1px solid rgba(0, 0, 0, 0.15);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3125em;
	-webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
	-moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(243, 243, 243, 1);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.hb.toolbar.top {
	border-bottom: 1px solid #cfcfcf;
	background: rgba(204, 204, 204, 1);
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(68%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.hb.toolbar.bottom {
	background: rgba(204, 204, 204, 1);
	background: rgba(226, 226, 226, 1);
	background: -moz-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(68%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
	background: -webkit-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -o-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: -ms-linear-gradient(bottom, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	background: linear-gradient(to top, rgba(226, 226, 226, 1) 0%, rgba(209, 209, 209, 1) 68%, rgba(254, 254, 254, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0);
}

TR.hb.toolbar.top > TD, TR.hb.toolbar.bottom > TD {
	border-bottom: 1px solid #cfcfcf;
	padding: 6px 15px;
}

TR.hb.toolbar.top > TD {
	border-bottom: 1px solid #cfcfcf;
}

TR.hb.toolbar.bottom > TD {
	border-top: 1px solid #cfcfcf;
	padding: 6px 15px;
}

TD.hb.toolbar > table {
	position:relative;
	table-layout: fixed;
	width: 100%;
}

.hb.toolbar.left {
	text-align: left;
	padding-left: 10px;
}

.hb.toolbar.right {
	text-align: right;
	padding-right: 10px;
}

.hb.form input[type="text"].hb-name {
	width: 14em;
}
.hb.form input[type="text"].hb-initial {
	width: 3em;
}

.hb.form.manage-surgeon {
	margin: 20px;
}

.hb.form input[type="text"],
.hb.form button,
.hb.form button:hover,
.hb.form button:active,
.hb.form select {
	margin: 0em;
	padding: 0.3em 0.7em;
	font-size: 1em;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.375);
	outline: none;
	color: rgba(0, 0, 0, 0.7);
	border-radius: 0.3125em;
	-webkit-transition: background-color 0.3s ease-out, -webkit-box-shadow 0.2s ease, border-color 0.2s ease;
	-moz-transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	transition: background-color 0.3s ease-out, box-shadow 0.2s ease, border-color 0.2s ease;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.hb.form button:hover {
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	background:-ms-linear-gradient( top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f6f6f6), color-stop(100%, #ffffff) );
	background-color:#f6f6f6;
}

.hb.form button:active {
	position:relative;
	top:1px;
}

.hb.form button,
.hb.form button:hover,
.hb.form button:active,
.hb.form select {
	padding: 0.2em 0.7em;
}

.hb.form select {
	height:1.875em;
}

.hb.form label {
	color: #333333;
	font-size: .9em;
	font-weight: 600;
}

.hb.form input[type="text"]:focus,
.hb.form select:focus {
	color: rgba(0, 0, 0, 0.85);
	border-color: rgba(0, 0, 0, 0.375);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-appearance: none;
	-webkit-box-shadow: 0.3em 0em 0em 0em rgba(24, 73, 199, 0.9) inset;
	box-shadow: 0.3em 0em 0em 0em rgba(24, 73, 199, 0.9) inset;
}

.hb-blue {
	color: #3266B2;
}

.ui.input.focus input,.ui.input input:focus {
	border-color: rgba(0, 0, 0, 0.375);
	color: rgba(0, 0, 0, 0.85);
}

.ui.input.focus input input::-webkit-input-placeholder,.ui.input input:focus input::-webkit-input-placeholder {
	color: #AAAAAA;
}

.ui.input.focus input input::-moz-placeholder,.ui.input input:focus input::-moz-placeholder {
	color: #AAAAAA;
}

.hb.form .field>label {
	color: #333333;
	font-size: 1em;
	font-weight: bold;
}

.ui.items>.item,.ui.items>.row>.item {
	min-height: 110px;
	min-width: 170px;
	width: 280px;
	height: 170px;
	font-size: 0.85em;
}